.main-section{
    position: relative;
    background-image: url('../images/background.png'); 
    background-size: cover;
    display: flex;
    justify-content: start;
    text-align: left;
    min-height: 100vh;
    padding: 160px 0px 0px 150px;
}
.main-content{
    color: #EDFDFC; 
    max-width: 1000px;
    padding-bottom: 300px;
}
.main-title {
    font-size: 4rem; /* Scales with viewport */
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}

.main-subtitle {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.main-description {
    font-size: 2rem;
    font-weight: 400;
    margin: 20px 0;
}

.main-button {
    font-size: 1.2rem;
    color: white;
    background-color: #124847;
    border: none;
    border-radius: 50px;
    padding: 12px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    min-width: 160px; /* Prevents button from shrinking too much */
}

.main-button:hover{
    background-color: #0c2f2e;
}

.about-container,
.experience-container,
.services-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Ensures even spacing */
}
